
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* filter: contrast(180%) brightness(150%); */
    background-position: 0px 0px,0px 0px,0px 0px,0px 0px;
    background-image: radial-gradient(70% 53% at 36% 76%, #73F2FFFF 0%, #073AFF00 100%),radial-gradient(31% 43% at 7% 98%, #D29BFD 21%, #073AFF00 100%),radial-gradient(35% 56% at 91% 74%, #BEFDD7 0%, #073AFF00 100%),radial-gradient(74% 86% at 67% 38%, #EAC7FF 17%, #073AFF00 100%);
    z-index: -1;
}

section {
    min-height: 100vh;
    display: flex;
}

h1 {
    font-size: 4em;
    font-weight: 400;
    font-family: 'Poppins' , sans-serif;
}

p {
    font-size: 1em;
    font-family: 'Poppins' , sans-serif;
}


