.project-title  {
    border: 1.5px #8B8B8B solid;
    border-radius: 20px;
    padding: 1rem;
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
}


#intro p,h1 {
}

#italics {
    font-style: italic;
}

.learn-more {
    display: flex;
    align-items: center;
    justify-content: center; 

}

.learn-more a {
    justify-content: center;
    border: 1.5px transparent;
    border-radius: 20px;
    padding: 0.5em 1em;
    text-decoration: none;
    font-family: 'Poppins' , sans-serif;
    color: #000;
    transition: all 0.3s;
    background-color: #61AD80;
}

.learn-more a:hover {
    background-color: transparent;
    border: 1.5px #61AD80 solid;
    transform: scale(1.1);
    letter-spacing: .1rem;
}

#about {
    display: flex;
    text-align: left;
    padding: 3rem;
}

.about-text {
    flex: .8;
    justify-content: end;
    align-self: center;
    margin-left: auto;
}


#impact {
    display: flex;
    text-align: left;
    padding: 3rem;
    text-align: left;
}

.impact-left{
    flex-direction: column;
    width: 50%;
}

.stats-text a{
    color: #61AD80;
    transition: all .3s;
}

.stats-text a:hover {
    color: #335942;
}

.impact-right {
    flex: 1;
    text-align: right;
}

.impact-image {
    width: 100%;
    height: auto;
}

/* added styling for the chatbot container & form */
.chatbot-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    text-align: center;   
    border: 1.5px #8B8B8B solid;
    border-radius: 20px;
    padding: 0.5em 1em;
    margin: auto;         
    max-width: 800px;     
    font-family: 'Poppins', sans-serif;
    color: #000;
    transition: all 0.3s;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;   
    margin: auto;         
    max-width: 400px;     
    font-family: 'Poppins', sans-serif;
    color: #000;
    transition: all 0.3s; 
}

#userInputForm input[type="text"] {
    background-color: transparent;
    border-bottom: 1.5px #8B8B8B solid;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 1rem;
    transition: all .3s;
}

#userInputForm input[type="submit"] {
    justify-content: center;
    border: 1.5px #8B8B8B solid;
    border-radius: 20px;
    padding: 0.5em 1em;
    text-decoration: none;
    font-family: 'Poppins' , sans-serif;
    color: #000;
    transition: all 0.3s;
}

#userInputForm input[type="submit"]:hover {
    justify-content: center;
    border: 1.5px #8B8B8B solid;
    border-radius: 20px;
    cursor: pointer;
    padding: 0.5em 1em;
    text-decoration: none;
    font-family: 'Poppins' , sans-serif;
    color: #000;
    transition: all 0.3s;
}


