.project-title  {
    border: 2px black solid;
    padding: 1rem;
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
}


#intro p,h1 {
}

#italics {
    font-style: italic;
}

.learn-more {
    display: flex;
    align-items: center;
    justify-content: center; 

}

.learn-more a {
    justify-content: center;
    border: 1.5px #8B8B8B solid;
    border-radius: 20px;
    padding: 0.5em 1em;
    text-decoration: none;
    font-family: 'Poppins' , sans-serif;
    color: #000;
    transition: all 0.3s;
}

.learn-more a:hover {
    transform: scale(1.1);
    letter-spacing: .1rem;
}

#about {
    display: flex;
    text-align: left;
    padding: 3rem;
}

.about-text {
    flex: .8;
    justify-content: end;
    align-self: center;
    margin-left: auto;
}


#impact {
    display: flex;
    text-align: left;
    padding: 3rem;
    text-align: left;
}

.impact-left{
    flex-direction: column;
    width: 50%;
}

.impact-right {
    flex: 1;
    text-align: right;
}

.stats-text a{
    color: #61AD80;
    transition: all .3s;
}

.stats-text a:hover {
    color: #335942;
}

.impact-image {
    width: 100%;
    height: auto;
    justify-content: flex-end;
}

.impact-image img {
    
}





